
  
  .btn-datos-desactivados{
    background-color: #7e7e7e;
    color: #030303;
    border: 0px;
    border-right: 1px solid #000000;
    transition: .1s;
    border-radius: 2px;

  }
  
  .btn-datos-desactivados:hover {
    background-color: #0059ff;
    border: 0px;
    border-right: 1px solid #0051ff;
    color: #ffff;
  }

  .btn-datos-activos {
    background-color: #0059ff;
    border: 0px;
    border-right: 1px solid #0051ff;
    color: #ffff;
    transition: .1s;
    border-radius: 2px;

  }

  input[type="file"] {
    display: none;
}
.custom-file-upload {
    padding: 0.8rem 11.5rem;
    cursor: pointer;
    width: 30rem;
    height: 2.7rem;
    color: #ffff;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height 0.1s ease!important;
}
@media (prefers-reduced-motion: reduce) {
	.collapsing {
		transition: none;
	}
}
.collapsing.width {
	width: 0;
	height: auto;
	transition: width 0.1s ease!important;
}
@media (prefers-reduced-motion: reduce) {
	.collapsing.width {
		transition: none;
	}
}